body {
    padding: 0;
    margin: 0;
    text-align: center;
}
.cc {
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    justify-content: space-around;
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aliceblue;
    align-items: center;
    
    
}

.links-header {
    display: flex;
    align-items: center;
    font-size: large;
    justify-content: space-between;
   
}
.link {
    text-decoration: none;
    color: aliceblue;
    padding: 10px;
    

}
.logo {
    padding-left: 40px;
    justify-self: flex-start;
}
.container {
    background-color: grey;
    display: flex;
    padding-bottom: 18%;
}
.primeiro-container {
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px;
}
.texto-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    flex-basis: 400px;
    margin-right: 50px;


}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin: 0;
}
.paragrafo {
    font-size: 20px;
    width: 500px;
}

.container-foto {
    display: flex;
    
    
}
.foto-bibi{
    width: 300px;
    height: 350px;
    
    
}
.botao-agenda {
    width: 110px;
    background-color: purple;
    text-decoration: none;
    display: block;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    color: #fff;
}
.conteudo {
}
.flex-tatoo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}
.foto-tatoo{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 5px solid purple;
    border-radius: 15px;

}
.flex-tatoo p {
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
.quote {
    background-color: rgb(194, 162, 224);
    display: flex;
    flex-direction: column;
    padding: 0 200px;
    
}
.quote p {
    width: 1000px;
    height: 200px;
    font-size: 50px;
    font-style: italic;
    font-weight: lighter;
}
.quote b {
    padding-bottom: 20px;
    padding-right: 10px;
    text-align: right; 
}

.agendar {
    background-color: rgb(240, 167, 212);
    margin: 50px 200px;
    padding: 10px 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
    border-radius: 8px;
    
}
.agendar-texto {
    text-align: left;

}
.agendar-texto h5 {
    font-size: 18px;
}
.botao-wpp {
    background-color: green;
    color: #fff;
    width: 110px;
    padding: 10px;
    border: none;
    text-decoration: none;
    border-radius: 15px;
    font-weight: bolder;
    display: block;
}





.footer {
    background-color: gray;
}